/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    color: white;
  }
  
  h1,
  h2 {
    margin-top: 10px;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgb(74, 74, 231);
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid darkblue;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid darkblue;
    color: white;    
  }
  .background{
    background-image: url("images/image-3.jpg");
    background-size: cover;
    height: 600px;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid grey;
    background-color:  lightblue;
    color: black;
  }
  
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid darkblue;
    border-radius: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
    
  input, 
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
    
  button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
  }
  button:hover{
    background-color: white;
    color: black;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  .submit-button {
    text-align: center;
    margin-top: 5px;
  }
  .nav {
    text-align: left;
  }

  .nav a:hover {
    background: rgb(211, 242, 252);
    color: #000;

  }
  a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }